Package: com.github.extract-npk
Priority: optional
Section: unknown
Installed-Size: 3985
Maintainer: keke <243768648@qq.com>
Architecture: amd64
Version: 0.0.1
Depends: lua5.1, liblua5.1-0, liblua5.1-bitop0, lua-zlib
Build-Depends: lua5.1, liblua5.1-0-dev, liblua5.1-bitop-dev, lua-zlib-dev
Description: extract npk files of DNF.
Homepage: 
